main {
    width: auto;
    height: auto;
}
.orb {
    border-radius: 50%;
    border: 5px solid rgba(156, 156, 156, 0.863);
    margin: 25px;
    position: absolute;
    overflow: hidden;
    background: white;
}
a:hover > #position-1 {
    background: white;
    z-index: 1;
    top: 10%;
    left: 5%;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: 5px solid black;
    margin: 25px;
    position: absolute;
}
a:hover > #position-2 {
    z-index: 1;
    top: 10%;
    left: 5%;
    width: 85%;
    height: 85%;
    border-radius: 20%;
    border: 5px solid black;
    margin: 25px;
    position: absolute;
}
a:hover > #position-3 {
    z-index: 1;
    top: 10%;
    left: 5%;
    width: 85%;
    height: 85%;
    border-radius: 20%;
    border: 5px solid black;
    margin: 25px;
    position: absolute;
}
/* a:hover > #position-4 {
    z-index: 1;
    top: 10%;
    left: 5%;
    width: 85%;
    height: 85%;
    border-radius: 20%;
    border: 5px solid black;
    margin: 25px;
    position: absolute;
}
a:hover > #position-5 {
    z-index: 1;
    top: 10%;
    left: 5%;
    width: 85%;
    height: 85%;
    border-radius: 20%;
    border: 5px solid black;
    margin: 25px;
    position: absolute;
}
a:hover > #position-6 {
    z-index: 1;
    top: 10%;
    left: 5%;
    width: 85%;
    height: 85%;
    border-radius: 20%;
    border: 5px solid black;
    margin: 25px;
    position: absolute;
}
a:hover > #position-7 {
    z-index: 1;
    top: 10%;
    left: 5%;
    width: 85%;
    height: 85%;
    border-radius: 20%;
    border: 5px solid black;
    margin: 25px;
    position: absolute;
} */
#position-1 {
    z-index: 0;
    width: 258px;
    height: 258px;
    border-radius: 50%;
    top: 15%;
    left: 13%;
    transition: 1.5s;
}
/* keyframes */


/* keyframes */
#position-2 {
    width: 278px;
    height: 278px;
    border-radius: 50%;
    top: 42%;
    left: 25%;
    z-index: 0;
}
#position-3 {
    z-index: 0;
    width: 269px;
    height: 269px;
    border-radius: 50%;
    top: 68%;
    left: 48%;
}
/* #position-4 {
    z-index: 0;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    top: 38%;
    left: 54%;
}
#position-5 {
    z-index: 0;
    width: 156px;
    height: 156px;
    top: 45%;
    left: 18%;
}
#position-6 {
    z-index: 0;
    width: 146px;
    height: 146px;
    top: 67%;
    left: 33%;
}
#position-7 {
    transition: top 3s, left 3s;
    z-index: 0;
    width: 172px;
    height: 172px;
    top: 55%;
    left: 72%;
} */
.links {
    width: 100%;
    object-fit: cover;
}
#ln {
    width: 105%;
}